include ../../assets/javascripts/components/feature-test.js


polymer-element(name="ui-modal", \attributes="open")
    template
        include ../../assets/stylus/components/modal.styl
        style.
            @host {
                ui-modal {
                }
            }


        .ui-modal(open="{{open}}")
            .ui-modal-content
                .ui-modal-header
                    content(select="ui-modal-header")
                .ui-modal-body
                    content(select="ui-modal-body")
                .ui-modal-footer
                    content(select="ui-modal-footer")

    script.
        Polymer('ui-modal', {
            open: false,
            created: function(){

                var scope = this;

                this.querySelectorAll('ui-modal-close').forEach(function(e){
                    e.addEventListener('click', function(){
                        scope.open = false;
                    });
                });
                //- console.log(this.querySelectorAll('ui-modal-close').innerHTML)
            }
        });
