element(name="ui-modal", \attributes="open")
    template
        include ../../assets/stylus/components/modal.styl
        style.

            @host {
                ui-modal {
                    bottom: 0;
                    left: 0;
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 1000
                }
            }

        .ui-modal(open="{{open}}")
            .ui-modal-content
                .ui-modal-header
                    content(select="ui-modal-header")
                .ui-modal-body
                    content(select="ui-modal-body")
                .ui-modal-footer
                    content(select="ui-modal-footer")

    script.
        Polymer.register(this, {
            open: false,
            ready: function(){
            }
        });
