include ../../assets/javascripts/components/feature-test.js


polymer-element(name="ui-modal", \attributes="open fx")
    template
        :injectCSS
            components/modal.styl

        .ui-modal(open="{{open}}", fx="{{fx}}")
            .ui-modal-content
                .ui-modal-header
                    content(select="ui-modal-header")
                .ui-modal-body
                    content(select="ui-modal-body")
                .ui-modal-footer
                    content(select="ui-modal-footer")

    script.
        Polymer('ui-modal', {
            open: false,
            fx: 'fade-in-scale',
            created: function(){
                var scope = this,
                    close = this.querySelectorAll('.ui-modal-close');

                Array.prototype.forEach.call(close, function(e){
                    e.addEventListener('click', scope.closeCallback.bind(scope));
                });

                this.addEventListener('open', this.openCallback);
                this.addEventListener('close', this.closeCallback);
            },
            openCallback: function(){
                this.open = true;
            },
            closeCallback: function(){
                this.open = false;
            }
        });