//- note the \, used for escaping attributes, jade hates it
element(name="sg-tabs", \attributes="name nameColor")
    template
        style
            @host {
            }
            div {
                background: #fff;
                border: 1px solid #000
            }

        div
            content(select="span")
        div
            content(select="div")

    script
        Polymer.register(this, {
            ready: function(){
            }
        });
