//
    ui-layout(open, fx)
        | // open is optional, defaults to false
        | // fx is optional, defaults to slide
        | // properties can be accessed through dom
        | //    document.querySelectorAll('ui-layout')[0].open = true
        ui-layout-drawer
            | // drawer-content
        ui-layout-page
            | // page-content
polymer-element(name="ui-layout", \attributes="open type")
    template
        include ../../../assets/stylus/components/layout/offcanvas.styl

        div.ui-layout(state="{{state}}", type="{{type}}")
            div.ui-layout-drawer
                content(select="ui-layout-drawer")
            div.ui-layout-page
                content(select="ui-layout-page")

    include ../../../assets/javascripts/components/layout/offcanvas.js