// variables
modalBorderRadius = 2px
modalOuterMargin = 20px
modalInnerPadding = 20px
overlayOpacitySpeed = .32s
contentOpacitySpeed = .32s

headerColor = #2980b9
contentColor = #3498db
overlayColor = #093156//darken(headerColor, 90%)

// styles
.ui-modal
    align-items: center
    bottom: 0
    box-sizing: border-box
    justify-content: center
    display: flex
    left: 0
    padding: 20px
    position: fixed
    right: 0
    top: 0
    visibility: hidden;
    transform: translate3d(0,0,0)
    transition: visibility overlayOpacitySpeed
    z-index: 1000

    [open="true"]&
        visibility: visible;

    @media screen and (max-width: 29.9375rem)
        padding: 10px;

    &:before
        background: overlayColor
        bottom: 0
        content: ''
        left: 0
        opacity: 0
        position: absolute
        right: 0
        transition: background .32s
        top: 0
        visibility: hidden
        z-index: 0

        [open="true"]&
            visibility: visible
            opacity: .85

.ui-modal-content
    background: contentColor
    border-radius: modalBorderRadius
    box-shadow: 0 0 6px rgba(0,0,0,.2)
    box-sizing: border-box
    color: rgba(255,255,255,.7)
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    max-height: 100%
    min-height: 300px
    min-width: 280px
    opacity: 0
    transition: all contentOpacitySpeed
    z-index: 2

    [open="true"] &
        opacity: 1

    @media screen and (max-width: 29.9375rem)
        min-width: 100%

.ui-modal-header
    background: headerColor
    border-radius: modalBorderRadius modalBorderRadius 0 0
    flex: none
    font-size: 20px
    height: auto
    margin: 0
    overflow: auto
    text-align: center

.ui-modal-body
    border-top: 1px solid rgba(contentColor, .5)
    color: #fff
    flex: 1 1 auto
    overflow: scroll
    padding: 10px 24px

    @media screen and (max-width: 29.9375rem)
        padding: 8px 18px

.ui-modal-footer
    border-top: 1px solid rgba(#fff, .2)
    flex: none
    padding: 12px 24px 14px
    border-radius: 0 0 modalBorderRadius modalBorderRadius

ui-modal-close
    background: #256E9E
    border: 0
    border-radius: 2px
    color: #fff
    cursor: pointer
    letter-spacing: 1px
    padding: 0.6em 1.2em
    text-transform: uppercase
    font-size: 13px

//effects
.ui-modal

    &[fx="fade-in-scale"],
    &[fx|="fall"],
    &[fx|="flip"],
    &[fx|="rotate"],
    &[fx|="side-fall"],
    &[fx|="swing"]
        perspective: 1300px

    &[fx="sticky-bottom"],
    &[fx="rotate-bottom"]
        align-items: flex-end

    &[fx="sticky-left"],
    &[fx="rotate-left"]
        justify-content: flex-start

    &[fx="sticky-right"],
    &[fx="rotate-right"]
        justify-content: flex-end

    &[fx="sticky-top"],
    &[fx="rotate-top"]
        align-items: flex-start

    .ui-modal-content
        transform: translate3d(0,0,0)

        [open="true"]&
            transform: translate3d(0,0,0) !important

        [fx="fade-in-scale"]&
            transform: translate3d(0,0,-300px)

        [fx="super-scale"]&
            transform: scale(2)

        // fall
        [fx="fall"]&
            transform-style: preserve-3d
            transform: translate3d(0,0,600px) rotateX(20deg)

        [fx="fall-down"]&
            transform-style: preserve-3d
            transform: translate3d(0,-30%,300px) rotateX(-10deg)

        [fx="fall-left"]&
            transform-style: preserve-3d
            transform: translate3d(30%,0,300px) rotateX(10deg)

        [fx="fall-right"]&
            transform-style: preserve-3d
            transform: translate3d(-30%,0,300px) rotateX(-10deg)

        [fx="fall-up"]&
            transform-style: preserve-3d
            transform: translate3d(0,30%,300px) rotateX(10deg)

        // flip
        [fx="flip-left"]&
            transform: rotateY(70deg) translate3d(0,0,0)

        [fx="flip-right"]&
            transform: rotateY(-70deg) translate3d(0,0,0)

        [fx="flip-up"]&
            transform: rotateX(-70deg) translate3d(0,0,0)

        [fx="flip-down"]&
            transform: rotateX(70deg) translate3d(0,0,0)

        // rotate
        [fx="rotate-bottom"]&
            transform-origin: 0 100%
            transform: translate3d(0,20px,0) rotateX(90deg)

            [open="true"]&
                transform: translate3d(0,20px,0) !important

        [fx="rotate-left"]&
            transform-origin: 0 0
            transform: translate3d(-20px,0,0) rotateY(90deg)

            [open="true"]&
                transform: translate3d(-20px,0,0) !important

        [fx="rotate-right"]&
            transform-origin: 100% 0
            transform: translate3d(20px,0,0) rotateY(-90deg)

            [open="true"]&
                transform: translate3d(20px,0,0) !important

        [fx="rotate-top"]&
            transform-origin: 0 0
            transform: translate3d(0,-20px,0) rotateX(-90deg)

            [open="true"]&
                transform: translate3d(0,-20px,0) !important


        // slide
        [fx="slide-in-bottom"]&
            transform: translate3d(0,20%,0)

        [fx="slide-in-left"]&
            transform: translate3d(-20%,0,0)

        [fx="slide-in-right"]&
            transform: translate3d(20%,0,0)

        [fx="slide-in-top"]&
            transform: translate3d(0,-20%,0)

        // stick
        [fx="sticky-bottom"]&
            transform: translate3d(0,200%,0)

            [open="true"]&
                transform: translate3d(0,20px,0) !important

        [fx="sticky-left"]&
            transform: translate3d(-200%,0,0)

            [open="true"]&
                transform: translate3d(-20px,0,0) !important

        [fx="sticky-right"]&
            transform: translate3d(200%,0,0)

            [open="true"]&
                transform: translate3d(20px,0,0) !important

        [fx="sticky-top"]&
            transform: translate3d(0,-200%,0)

            [open="true"]&
                transform: translate3d(0,-20px,0) !important

        [fx="swing-down"]&
            transform-origin: 50% 0%
            transform: rotateX(60deg) translate3d(0,0,0)

        [fx="swing-left"]&
            transform-origin: 100% 0%
            transform: rotateY(-60deg) translate3d(0,0,0)

        [fx="swing-right"]&
            transform-origin: 0% 0%
            transform: rotateY(60deg) translate3d(0,0,0)

        [fx="swing-up"]&
            transform-origin: 50% 0%
            transform: rotateX(-60deg) translate3d(0,0,0)


    &[fx="just-me"]

        &:before
            background: headerColor
            transition: visibility .16s linear .32s, opacity .16s linear .16s

        &[open=true]:before
            opacity: 1
            transition: visibility overlayOpacitySpeed

        .ui-modal-content
            background: transparent
            box-shadow: none
            transform: scale(.6)

        .ui-modal-header
            background: transparent




