extends ../layout

block append head-css
    link(href="/stylesheets/demo/modal.css", rel="stylesheet")

block append head-js
    script(src="/vendor/polymer/polymer.min.js")

block append html-import
    link(rel="import", href="/components/modal")

block content

    p inspiration by
        a(href="http://tympanus.net/Development/ModalWindowEffects/")  typanus


    button.modal-action(data-fx="fade-in-scale") fade in &amp; scale
    button.modal-action(data-fx="fall") fall
    button.modal-action(data-fx="side-fall-left") side fall left
    button.modal-action(data-fx="side-fall-right") side fall right
    button.modal-action(data-fx="slide-in-bottom") slide in &amp; bottom
    button.modal-action(data-fx="slide-in-left") slide in &amp; left
    button.modal-action(data-fx="slide-in-right") slide in &amp; right
    button.modal-action(data-fx="slide-in-top") slide in &amp; top
    button.modal-action(data-fx="sticky-bottom") sticky bottom
    button.modal-action(data-fx="sticky-left") sticky left
    button.modal-action(data-fx="sticky-right") sticky right
    button.modal-action(data-fx="sticky-top") sticky top

    ui-modal
        ui-modal-header
            h3 Modal Dialog
        ui-modal-body
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum scelerisque luctus. Etiam ut quam massa.
            p Suspendisse laoreet nibh ut ante lobortis, vel facilisis libero pulvinar. Curabitur faucibus sapien et massa tempus, sed mollis dolor fringilla. Aliquam ut mi libero. Morbi vehicula lorem in urna dictum gravida. Vivamus ullamcorper ante quis hendrerit volutpat. Nam lobortis metus vitae lectus sollicitudin laoreet. Quisque consequat risus nec est malesuada, id molestie elit rutrum. Cras urna arcu, tincidunt ac accumsan vitae, tristique id tellus. Cras varius, magna eget bibendum pharetra, tortor nisl ultrices mauris, vitae hendrerit neque lorem at lorem. Curabitur quis viverra metus, a sodales urna. Nulla aliquet tempus pellentesque. Nunc feugiat nibh vitae est sodales ultricies.
        ui-modal-footer
            button.ui-modal-close close me!


    script.
        Array.prototype.forEach.call(document.querySelectorAll('button[data-fx]'), function(el){

            el.addEventListener('click', function(e){
                var evt = new CustomEvent('open', {}),
                    fx = el.getAttribute('data-fx'),
                    modal = document.querySelector('ui-modal');
                    clone = modal.cloneNode(true);

                clone.fx = fx;
                modal.parentNode.insertBefore(clone, modal);
                modal.parentNode.removeChild(modal);

                setTimeout(function(){
                    clone.dispatchEvent(evt);
                }, 16);
            });
        });

