extends ../layout

block append head-css
    link(href="/stylesheets/demo/modal.css", rel="stylesheet")

block append head-js
    script(src="/javascripts/vendor/polymer-all/polymer/polymer.js")

block append html-import
    link(rel="import", href="/components/modal")

block content
    ui-modal(open)
        ui-modal-header
            h3
                | Modal Dialog
        ui-modal-body
            a(href="http://tympanus.net/Development/ModalWindowEffects/") modal
            p Lorem ipsum Elit amet elit tempor dolore dolor dolore ut
            p Lorem ipsum Elit amet elit tempor dolore dolor dolore ut nostrud dolore
            p esse fugiat esse proident nostrud aliquip magna qui ea sint Excep
        ui-modal-footer
            | Lorem ipsum Elit amet elit tempor dolore
