extends ../layout

block append head-css
    link(href="/stylesheets/demo/modal.css", rel="stylesheet")

block append head-js
    script(src="/vendor/polymer/polymer.min.js")

block append html-import
    link(rel="import", href="/components/modal")

block content

    //- p inspiration by
        a(href="http://tympanus.net/Development/ModalWindowEffects/")  typanus


    button.modal-action(data-fx="fade-in-scale") fade in &amp; scale
    button.modal-action(data-fx="super-scale") super scale
    button.modal-action(data-fx="just-me") just me

    hr
    button.modal-action(data-fx="fall") fall
    button.modal-action(data-fx="fall-down") fall down
    button.modal-action(data-fx="fall-left") fall left
    button.modal-action(data-fx="fall-right") fall right
    button.modal-action(data-fx="fall-up") fall up
    hr
    button.modal-action(data-fx="flip-down") flip down
    button.modal-action(data-fx="flip-left") flip left
    button.modal-action(data-fx="flip-right") flip right
    button.modal-action(data-fx="flip-up") flip up
    hr
    button.modal-action(data-fx="slide-bottom") slide bottom
    button.modal-action(data-fx="slide-left") slide left
    button.modal-action(data-fx="slide-right") slide right
    button.modal-action(data-fx="slide-top") slide top
    hr
    button.modal-action(data-fx="slide-bottom-pinned") slide bottom pinned
    button.modal-action(data-fx="slide-left-pinned") slide left pinned
    button.modal-action(data-fx="slide-right-pinned") slide right pinned
    button.modal-action(data-fx="slide-top-pinned") slide top pinned
    hr
    button.modal-action(data-fx="swing-bottom") swing bottom
    button.modal-action(data-fx="swing-left") swing left
    button.modal-action(data-fx="swing-right") swing right
    button.modal-action(data-fx="swing-top") swing top
    hr
    button.modal-action(data-fx="swing-bottom-pinned") swing bottom pinned
    button.modal-action(data-fx="swing-left-pinned") swing left pinned
    button.modal-action(data-fx="swing-right-pinned") swing right pinned
    button.modal-action(data-fx="swing-top-pinned") swing top pinned



    ui-modal
        ui-modal-header
            h3 Modal Dialog
        ui-modal-body
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum scelerisque luctus. Etiam ut quam massa.
            p Suspendisse laoreet nibh ut ante lobortis, vel facilisis libero pulvinar. Curabitur faucibus sapien et massa tempus, sed mollis dolor fringilla. Aliquam ut mi libero. Morbi vehicula lorem in urna dictum gravida. Vivamus ullamcorper ante quis hendrerit volutpat. Nam lobortis metus vitae lectus sollicitudin laoreet. Quisque consequat risus nec est malesuada, id molestie elit rutrum. Cras urna arcu, tincidunt ac accumsan vitae, tristique id tellus. Cras varius, magna eget bibendum pharetra, tortor nisl ultrices mauris, vitae hendrerit neque lorem at lorem. Curabitur quis viverra metus, a sodales urna. Nulla aliquet tempus pellentesque. Nunc feugiat nibh vitae est sodales ultricies.
        ui-modal-footer
            button.ui-modal-close close me!


    script.
        Array.prototype.forEach.call(document.querySelectorAll('button[data-fx]'), function(el){

            el.addEventListener('click', function(e){
                var evt = new CustomEvent('open', {}),
                    fx = el.getAttribute('data-fx'),
                    modal = document.querySelector('ui-modal');
                    clone = modal.cloneNode(true);

                clone.fx = fx;
                modal.parentNode.insertBefore(clone, modal);
                modal.parentNode.removeChild(modal);

                setTimeout(function(){
                    clone.dispatchEvent(evt);
                }, 100);
            });
        });

