mixin details(details, type)
    if(details)
        each value, id in details
            if value !== undefined
                if typeof value === "object"
                    div.device-feature-group
                        p #{id}
                        mixin details(details[id], type+'.'+id)
                else
                    if(typeof value != "function")
                        mixin detail(id, value)

mixin detail(id, value)
    div.col.device-feature
        span #{id}
        br
        if value === true
            | supported
        else
            | unsupported
        b  100%

