extends ../layout
include _details

block append head-js
    script(src="/vendor/jquery/jquery.min.js")
    script(src="javascripts/vendor/modernizr.custom.js")
    script(src="javascripts/device.js")

block content

    section.profile
        div.detail
            span User Agent
            | #{device.id || device.string}
        if device._id
            div.detail
                span Mongo id
                a(href="/device/#{device._id}") #{device._id}

        div.detail-group
            span Browser
            mixin details(device.agent, 'agent')


        div.detail-group
            span Operating System
            mixin details(device.system, 'system')

        div.detail-group
            span Device
            mixin details(device.device, 'device')

        if device.created
            div.detail
                span Date Collected
                | #{device.created}


    if device._id

        h2 javascript features
        section.html
            mixin details(device.javascript,'javascript')

        h2 css features
        section.features-css
            mixin details(device.css,'css')

        h2 html features
        h3 inputs
        section.html
            mixin details(device.html.input,'html.input')