h3 profile
section
    div.feature
        span user agent
        | #{device.id || device.string}
    if device._id
        div.feature
            span mongo id
            | #{device._id}
    div.feature
        span Browser
        | #{device.agent.id}
    div.feature
        span Operating System
        | #{device.system.id}
