polymer-element(name="ui-code", \attributes="class title", extends="pre")
    template
        include ../../../assets/stylus/components/presentation/code.styl

        pre
            code#code(class="{{language}}",title="{{title}}")

    | !{'<script type="text/javascript">'}
    :injectJS
        components/presentation/code.js
    :injectJS
        ../vendor/highlightjs/highlight.pack.js
    | !{'</script>'}
