element(name="ui-code", \attributes="class", extends="pre")
    template
        include ../../../assets/stylus/components/presentation/code.styl

        pre
            code#code(class="{{language}}")

    | !{'<script type="text/javascript">'}
    :injectJS
        components/presentation/code.js
    :injectJS
        vendor/highlight/highlight-7.3.min.js
    | !{'</script>'}
