element(name="ui-slides", \attributes="")
    template
        include ../../../assets/stylus/components/presentation/slides.styl

        .ui-slides(backdrop="{{backdrop}}", overview="{{overview}}", presentor="{{presentor}}")
            .ui-slides-viewport#viewport
                content#content

    | !{'<script type="text/javascript">'}
    | var modules = [];
    :injectJS
        components/presentation/slides.fullscreen.js
    :injectJS
        components/presentation/slides.controller.js
    :injectJS
        components/presentation/slides.js
    | !{'</script>'}