element(name="ui-slide", \attributes="background backdrop")
    template
        include ../../../assets/stylus/components/presentation/slide.styl

        .ui-slide(state="{{state}}", loaded="{{loaded}}", background="{{background}}")
            content

    script.
        Polymer.register(this, {
            backdrop: true,
            background: true,
            loaded: false,
            state: '',
            ready: function(){}
        });