gray = #e6e6e6

.ui-slide
    bottom 20px
    border-radius 4px
    height 60vmin
    left 20px
    margin auto
    min-width 320px
    min-height 240px
    opacity 0
    overflow scroll
    padding 1vmin
    position absolute
    right 20px
    -ms-transition opacity 0.6s ease-in-out
    -moz-transition opacity 0.6s ease-in-out
    -webkit-transition opacity 0.6s ease-in-out
    transition opacity 0.6s ease-in-out
    top 20px

    &[center="true"]
        text-align center

    &[vcenter="true"]
        -webkit-align-items center
        align-items center
        -webkit-justify-content center
        justify-content center
        display -moz-flex
        display -ms-flex
        display -webkit-flex
        display flex

    &[state="ui-slide-current"]
        opacity 1
        z-index 1

    &[state="ui-slide-far-past"],
    &[state="ui-slide-far-next"],
    &[state=""]
        display: none;

    &:not([background="false"])
        background linear-gradient(white, white 85%, gray)

@media screen and (orientation:portrait)
    .ui-slide
        height 60vmin

@media screen and (orientation:landscape)
    .ui-slide
        height 60vw
        max-height 86%
        max-width 140vh
        width 90vw