@import normalize
@import icons

@font-face {
    font-family: 'Mojave';
    src: url('/fonts/mojave-regular-webfont.eot');
    src: url('/fonts/mojave-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mojave-regular-webfont.woff') format('woff'),
         url('/fonts/mojave-regular-webfont.ttf') format('truetype'),
         url('/fonts/mojave-regular-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$alizarin = #e74c3c
$pomegranate = #c0392b
$midnightblue = #2c3e50
$wetasphault = #34495e

$slideSpeed = .33s

html
    background #ecf0f1
    font 300 62.5% 'Lato'

html,
body
    height 100%

.page-content
    min-height 100%
    transition all $slideSpeed
    overflow scroll-y

    > header
        background $midnightblue
        transition border $slideSpeed
        overflow auto

        [data-menu-state="2"]&,
        [data-menu-state="3"]&
            border-color $pomegranate

        h2
            color #fff
            border-top 4px solid $alizarin
            font bold 3.2rem 'Mojave'
            padding 3.8rem 4vmin 0
            margin 0 0 1rem

        h3
            color #fff
            text-align right
            font 200 1.3rem/1rem 'Lato'
            padding 0 4vmin 0

        span
            color #fff
            font-size 2rem
            margin-left 2vmin

    &[data-menu-state]:after
        content ''
        background rgba(0,0,0,.6)
        position absolute
        top 0
        left 0
        right 0
        bottom 0

    &[data-menu-state="1"]
        -webkit-transform: translate3d(300px,0,0)
        transform translate3d(300px,0,0)

    &[data-menu-state="2"]
        -webkit-transform: translate3d(340px,0,0)
        transform translate3d(340px,0,0)

    &[data-menu-state="3"]
        -webkit-transform: translate3d(380px,0,0)
        transform translate3d(380px,0,0)

.page-drawer
    bottom 0
    left -300px
    position absolute
    top 0
    width 300px

    [data-group]
        background $alizarin
        border-right 1px solid rgba(0,0,0,0)
        bottom 0
        left 0
        position absolute
        transition all $slideSpeed
        top 0
        width 300px

    [data-group-overlay]
        background $pomegranate
        border-right 1px solid rgba(0,0,0,.1)

        > a
            border-color $pomegranate !important


    h3
        color #fff
        font 300 3rem/10rem 'Lato'
        padding-left 4vmin
        margin 0
        text-align left

    a
        border-top 1px solid rgba(0,0,0,.1)
        color #fff
        display block
        font-size 2rem
        font-family 'Lato'
        font-weight 100
        line-height 2rem
        padding .8em 1.6em
        text-decoration none

        &:last-child
            border-bottom 1px solid rgba(0,0,0,.1)

        + [data-group]
            -webkit-transform translate3d(-300px, 0, 0)
            transform translate3d(-300px, 0, 0)


        &.is-open + [data-group]
            display block
            -webkit-transform translate3d(-40px, 0, 0)
            transform translate3d(-40px, 0, 0)

            ~ [data-group]
                display none

    [data-link] span
        font-size .4em
        position absolute
        left .8rem
        line-height 2rem




// devices
.devices
    padding 4vmin
    overflow auto

.device-collection
    background #16a085
    float left
    font-size: 1.4rem
    margin 0 4vmin 4vmin 0
    padding-top 8rem
    position relative
    width 20rem

    &.agent-chrome {
        background #f1c40f
    }

    &.agent-firefox {
        background #e67e22
    }

    &.agent-safari {
        background #3498db
    }

    &.agent-opera {
        background #c0392b
    }

    &.agent-ie {
        background #3498db
    }

    h3
        display none

    a
        background $midnightblue
        border-top 1px solid #95a5a6
        color #fff
        display block
        font-family 'Mojave'
        line-height 4rem
        padding 0 2vmin 0 2vmin
        text-decoration none
        text-align right

        &:first-of-type
            border-top: 0

        &:hover
            background $wetasphault

    [data-link]
        span
            float left
            line-height 4rem

            &:before
                content "\e00c"

        + [data-group]
            display none


    a.group
        line-height 2rem
        padding 1rem 2vmin

        span
            color #ecf0f1
            display block
            font-size 1.3rem
            float left
            line-height 2rem

.device-collection-heading
    bottom 0
    left 0
    height 8rem
    position absolute
    overflow hidden
    right 0
    top 0

    span.id
        color #fff
        top 3rem
        font-family 'Mojave'
        font-size 2rem
        letter-spacing 1px
        position absolute
        left 2vmin
        text-transform uppercase

    span[class^="icon"]
        color #fff
        top -38%
        font-size 10em
        position absolute
        right -13%
        opacity .8
        text-shadow 0 1px 2px $midnightblue


// device
.device
    background $alizarin
    box-shadow 0 -1px 3px rgba(0,0,0,.4)
    font-size 1.2rem
    padding 6vmin 6vmin 3vmin

.device-ua
    font-size 2rem
    margin-bottom: 4rem

.device-agent
    color #fff
    font-size: 4rem
    font-weight 400
    line-height 3.8rem

.device-system
    font-size 1.6rem

    span
        font-size 2rem
        font-weight 400


.device-module
    margin-bottom 2vmin

    h4
        border-bottom 1px solid rgba(0,0,0,.3)
        color #fff
        font-size 2rem
        font-weight 300
        margin 0 15px
        padding 1vmin 0
        text-transform uppercase

        span
            float left
            font-size 1.4rem
            line-height 2.6rem
            margin-right 1vmin

    p
        margin 0
        padding 1vmin 15px
        text-transform uppercase

        span:hover
            color #fff
            cursor pointer
            border-bottom 1px dotted #fff

    span
        font-weight 400
        font-size 2rem

    span[class^="icon"]
        float left
        margin 1vmin 0 0 30px
        line-height 4rem


.device-features
    padding 3vmin 6vmin

    .device-module
        h4
            color $alizarin
            font-weight 400

        > div
            border-top 1px solid rgba(0,0,0,.3)
            margin 0 15px


        h4 + div
            border none

.device-feature-type
    font-size 1.4rem

.device-feature
    border 1px solid #aaa
    padding 10px 20px
    margin -1px 0 0 -1px

    &:hover
        color #000
        border-color #000
        z-index 2

    &.unsupported
        background #EEE5E2

.device-feature-group
    clear left
    position relative

    &:hover
        p
            font-weight bold
        p,
        .device-feature
            color #000
            border-color #000
            z-index 2

    > p
        border-bottom 1px solid #aaa
        float left
        position absolute
        top 10px
        right 100%
