html,
body
    font-size: 62.5%
    height: 100%

body
    color: #444
    background: #fff
    font-size: 1rem

body
    font-size: 1.6rem


article
    font-size: 1.3rem

    div
        border-top: 1px solid #ccc
        line-height: 2rem

    span
        float: left

section
    border: 1px solid #ccc
    border-width: 0 1px 1px

.feature
    border-top: 1px solid #ccc
    line-height: 3rem
    padding: 0 1rem
    text-align: right

.feature-group
    line-height: 3rem

    span
        padding: 0 1rem

    .feature
        background: #ededed
        clear: both
        border-bottom: 0
        border-top: 1px solid #ddd
        line-height: 2rem
        padding-left: 2rem