@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)


body {
    font-family: 'Lato';
}

.ui-modal-content
    font-weight 300
    line-height 1.4em
    max-width 600px

.ui-modal-header
    h3
        font-size 36px
        font-weight 300
        margin .8em

        @media screen and (max-width: 29.9375em)
            font-size 28px

.ui-modal-footer
    text-align center

.ui-modal-close,
.modal-action
    background #256E9E
    border 0
    border-radius 2px
    color #fff
    cursor pointer
    letter-spacing 1px
    padding 0.6em 1.2em
    text-transform uppercase
    font-size 13px

    &:hover
        background #20597E

