doctype 5
html
    head
        title Devices
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block head-css
            link(href="/stylesheets/style.css", rel="stylesheet")

        block head-js

        block html-import

    body
        block content

        block footer-js