doctype 5
html
    head
        title= title

        block head-css
            link(href="stylesheets/style.css", rel="stylesheet")

        block head-js
            script(src="javascripts/vendor/jquery-2.0.0.min.js")

    body
        block content

        block footer-js