doctype 5
html
    head
        title Devices
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block head-css

        block head-js

        block html-import

    body
        block content

        block footer-js