extends layout


block append head-js
    script(src="javascripts/vendor/polymer-all/polymer/polymer.js")

block append html-import
    link(rel="import", href="/components/tabs")
    link(rel="import", href="/components/layout/offcanvas")

block content

    // div.drawer seems bland, perhaps a convention?
    // [role=drawer]? [ui-drawer]?
    sg-layout(open)
        div.drawer drawer
        div.page test
            //- sg-tabs(name="Bill")
                span test
                div test

