extends layout


block append head-js
    script(src="javascripts/vendor/polymer-all/polymer/polymer.min.js")

block append html-import
    link(rel="import", href="/components/presentation/slides")
    link(rel="import", href="/components/presentation/slide")
    link(rel="import", href="/components/presentation/code")

block content
    ui-slides
        ui-slide(type="title")
            hgroup
                h1 test
                h2 test
            article
                ui-code(language="javascript")
                    | function $initHighlight(block, flags) {
                    |   try {
                    |     if (block.className.search(/\bno\-highlight\b/) != -1)
                    |       return processBlock(block, true, 0x0F) + ' class=""';
                    |   } catch (e) {
                    |     /* handle exception */
                    |     var e4x = '';
                    |   }
                    |   for (var i = 0 / 2; i < classes.length; i++) { // "0 / 2" should not be parsed as regexp
                    |     if (checkCondition(classes[i]) === undefined)
                    |       return /\d+/g;
                    |   }
                    | }
                ui-code
                    | #ui {
                    |    border: 1px solid #000
                    | }
                    | .ui {
                    |     font-size: 10px;
                    |     width: 12px;
                    |     height: auto;
                    |     display: none;
                    |     display: inherit;
                    | }
            ui-slide-notes
                ul
                    li notes 1
                    li notes 2


        ui-slide(items="li", items-fx="fade")
            ul
                li test
                li test
                li test
                li test

        ui-slide(background="false", backdrop="false", items="p")
            article
                p Lorem ipsum Do eiusmod sint sint fugiat consequat culpa qui Duis et nostrud Duis in aliquip eiusmod sint et Ut do irure ad ut minim eiusmod est anim nostrud tempor voluptate amet minim adipisicing proident eu fugiat Duis velit consequat ea aliqua aliquip consectetur et consectetur officia ad esse ullamco mollit culpa culpa cupidatat cillum consectetur fugiat in sunt ut dolor deserunt dolor ut cillum cillum eiusmod elit occaecat in culpa dolor minim in Excepteur cillum qui do cupidatat laboris consectetur est aute dolore aute non consectetur nulla velit eiusmod magna in dolore veniam ullamco Duis sint elit dolor cillum laboris ex sed irure id amet amet consectetur commodo id occaecat nulla aute officia ullamco elit consequat mollit tempor ad dolor commodo culpa qui elit cupidatat amet sit elit et fugiat nostrud esse labore nisi eiusmod culpa dolor esse dolore veniam do cupidatat in in aliquip cillum dolore tempor cupidatat consequat culpa quis labore occaecat sed dolore magna commodo ut quis cupidatat voluptate ex consequat ea eiusmod pariatur anim proident velit est veniam esse minim ullamco culpa sunt velit in qui nulla elit qui deserunt sed voluptate laborum consequat Duis veniam consectetur dolore aliqua Ut reprehenderit pariatur id ea dolor occaecat laborum ad id velit fugiat aute eiusmod et sunt irure eu culpa magna nulla nulla nulla labore reprehenderit proident mollit ullamco ad mollit sit sit laborum do velit officia do officia cupidatat nulla.
                p Lorem ipsum Do eiusmod sint sint fugiat consequat culpa qui Duis et nostrud Duis in aliquip eiusmod sint et Ut do irure ad ut minim eiusmod est anim nostrud tempor voluptate amet minim adipisicing proident eu fugiat Duis velit consequat ea aliqua aliquip consectetur et consectetur officia ad esse ullamco mollit culpa culpa cupidatat cillum consectetur fugiat in sunt ut dolor deserunt dolor ut cillum cillum eiusmod elit occaecat in culpa dolor minim in Excepteur cillum qui do cupidatat laboris consectetur est aute dolore aute non consectetur nulla velit eiusmod magna in dolore veniam ullamco Duis sint elit dolor cillum laboris ex sed irure id amet amet consectetur commodo id occaecat nulla aute officia ullamco elit consequat mollit tempor ad dolor commodo culpa qui elit cupidatat amet sit elit et fugiat nostrud esse labore nisi eiusmod culpa dolor esse dolore veniam do cupidatat in in aliquip cillum dolore tempor cupidatat consequat culpa quis labore occaecat sed dolore magna commodo ut quis cupidatat voluptate ex consequat ea eiusmod pariatur anim proident velit est veniam esse minim ullamco culpa sunt velit in qui nulla elit qui deserunt sed voluptate laborum consequat Duis veniam consectetur dolore aliqua Ut reprehenderit pariatur id ea dolor occaecat laborum ad id velit fugiat aute eiusmod et sunt irure eu culpa magna nulla nulla nulla labore reprehenderit proident mollit ullamco ad mollit sit sit laborum do velit officia do officia cupidatat nulla.
                p Lorem ipsum Do eiusmod sint sint fugiat consequat culpa qui Duis et nostrud Duis in aliquip eiusmod sint et Ut do irure ad ut minim eiusmod est anim nostrud tempor voluptate amet minim adipisicing proident eu fugiat Duis velit consequat ea aliqua aliquip consectetur et consectetur officia ad esse ullamco mollit culpa culpa cupidatat cillum consectetur fugiat in sunt ut dolor deserunt dolor ut cillum cillum eiusmod elit occaecat in culpa dolor minim in Excepteur cillum qui do cupidatat laboris consectetur est aute dolore aute non consectetur nulla velit eiusmod magna in dolore veniam ullamco Duis sint elit dolor cillum laboris ex sed irure id amet amet consectetur commodo id occaecat nulla aute officia ullamco elit consequat mollit tempor ad dolor commodo culpa qui elit cupidatat amet sit elit et fugiat nostrud esse labore nisi eiusmod culpa dolor esse dolore veniam do cupidatat in in aliquip cillum dolore tempor cupidatat consequat culpa quis labore occaecat sed dolore magna commodo ut quis cupidatat voluptate ex consequat ea eiusmod pariatur anim proident velit est veniam esse minim ullamco culpa sunt velit in qui nulla elit qui deserunt sed voluptate laborum consequat Duis veniam consectetur dolore aliqua Ut reprehenderit pariatur id ea dolor occaecat laborum ad id velit fugiat aute eiusmod et sunt irure eu culpa magna nulla nulla nulla labore reprehenderit proident mollit ullamco ad mollit sit sit laborum do velit officia do officia cupidatat nulla.
                p Lorem ipsum Do eiusmod sint sint fugiat consequat culpa qui Duis et nostrud Duis in aliquip eiusmod sint et Ut do irure ad ut minim eiusmod est anim nostrud tempor voluptate amet minim adipisicing proident eu fugiat Duis velit consequat ea aliqua aliquip consectetur et consectetur officia ad esse ullamco mollit culpa culpa cupidatat cillum consectetur fugiat in sunt ut dolor deserunt dolor ut cillum cillum eiusmod elit occaecat in culpa dolor minim in Excepteur cillum qui do cupidatat laboris consectetur est aute dolore aute non consectetur nulla velit eiusmod magna in dolore veniam ullamco Duis sint elit dolor cillum laboris ex sed irure id amet amet consectetur commodo id occaecat nulla aute officia ullamco elit consequat mollit tempor ad dolor commodo culpa qui elit cupidatat amet sit elit et fugiat nostrud esse labore nisi eiusmod culpa dolor esse dolore veniam do cupidatat in in aliquip cillum dolore tempor cupidatat consequat culpa quis labore occaecat sed dolore magna commodo ut quis cupidatat voluptate ex consequat ea eiusmod pariatur anim proident velit est veniam esse minim ullamco culpa sunt velit in qui nulla elit qui deserunt sed voluptate laborum consequat Duis veniam consectetur dolore aliqua Ut reprehenderit pariatur id ea dolor occaecat laborum ad id velit fugiat aute eiusmod et sunt irure eu culpa magna nulla nulla nulla labore reprehenderit proident mollit ullamco ad mollit sit sit laborum do velit officia do officia cupidatat nulla.
                p Lorem ipsum Do eiusmod sint sint fugiat consequat culpa qui Duis et nostrud Duis in aliquip eiusmod sint et Ut do irure ad ut minim eiusmod est anim nostrud tempor voluptate amet minim adipisicing proident eu fugiat Duis velit consequat ea aliqua aliquip consectetur et consectetur officia ad esse ullamco mollit culpa culpa cupidatat cillum consectetur fugiat in sunt ut dolor deserunt dolor ut cillum cillum eiusmod elit occaecat in culpa dolor minim in Excepteur cillum qui do cupidatat laboris consectetur est aute dolore aute non consectetur nulla velit eiusmod magna in dolore veniam ullamco Duis sint elit dolor cillum laboris ex sed irure id amet amet consectetur commodo id occaecat nulla aute officia ullamco elit consequat mollit tempor ad dolor commodo culpa qui elit cupidatat amet sit elit et fugiat nostrud esse labore nisi eiusmod culpa dolor esse dolore veniam do cupidatat in in aliquip cillum dolore tempor cupidatat consequat culpa quis labore occaecat sed dolore magna commodo ut quis cupidatat voluptate ex consequat ea eiusmod pariatur anim proident velit est veniam esse minim ullamco culpa sunt velit in qui nulla elit qui deserunt sed voluptate laborum consequat Duis veniam consectetur dolore aliqua Ut reprehenderit pariatur id ea dolor occaecat laborum ad id velit fugiat aute eiusmod et sunt irure eu culpa magna nulla nulla nulla labore reprehenderit proident mollit ullamco ad mollit sit sit laborum do velit officia do officia cupidatat nulla.

        ui-slide
            p Lorem ipsum Fugiat enim eu ea officia anim aliquip laborum minim quis.
            p Lorem ipsum Fugiat enim eu ea officia anim aliquip laborum minim quis.
            p Lorem ipsum Fugiat enim eu ea officia anim aliquip laborum minim quis.

        ui-slide
            | test5

        ui-slide
            | test6

        ui-slide
            | test7

        ui-slide
            | test8

        ui-slide
            | test9